name: Deploy BeautyGlow Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t vish2002dil/beautyglow-react-app:latest \
            --build-arg VITE_BACKEND_URL=${{ secrets.VITE_BACKEND_URL }} \
            --build-arg VITE_SUPABASE_URL=${{ secrets.VITE_SUPABASE_URL }} \
            --build-arg VITE_SUPABASE_KEY=${{ secrets.VITE_SUPABASE_KEY }} \
            .

      - name: Push Image to Docker Hub
        run: docker push vish2002dil/beautyglow-react-app:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull image
        run: docker pull vish2002dil/beautyglow-react-app:latest

      - name: Remove old container
        run: docker rm -f beautyglow-react || true

      - name: Run container
        run: docker run -d -p 3000:80 --name beautyglow-react vish2002dil/beautyglow-react-app:latest
